click==2.4
Flask-Assets==0.10
Flask-SQLAlchemy==1.0
Flask-uWSGI-WebSocket==0.2.5
Flask==0.10.1
gevent==1.0.1
greenlet==0.4.2
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mock==1.0.1
pycrypto==2.6.1
SQLAlchemy==0.9.7
uWSGI==2.0.6
webassets==0.10.1
Werkzeug==0.9.6
