-e git+https://github.com/mitsuhiko/flask.git@0ce47a365f4618f19b5b5c59c33f70c4f69157c0#egg=Flask-dev
click==2.4
Flask-Assets==0.10
Flask-SQLAlchemy==1.0
Flask-uWSGI-WebSocket==0.2.5
gevent==1.0.1
greenlet==0.4.2
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mock==1.0.1
SQLAlchemy==0.9.7
uWSGI==2.0.6
webassets==0.10.1
Werkzeug==0.9.6
