<script src="{{cdnjs}}/jquery/2.1.1/jquery.min.js"></script>
<script src="{{cdnjs}}/d3/3.4.9/d3.min.js"></script>
<script src="{{cdnjs}}/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{cdnjs}}/q.js/1.0.1/q.js"></script>
<script src="{{cdnjs}}/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
<script src="{{cdnjs}}/underscore.js/1.6.0/underscore-min.js"></script>
<script src="{{cdnjs}}/backbone.js/1.1.2/backbone-min.js"></script>
<script src="{{ url_for('static', filename='lib/backbone.marionette-2.1.0.min.js') }}"></script>

<script src="{{ url_for('static', filename='lib/nacl_factory.js') }}"></script>

<script>
  window.zc = {modules: {}};
</script>

{% assets 'app.js' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

{% for tmpl in get_template_list() %}
  <script id="{{ tmpl.id }}" type="text/template">{{ tmpl.src|safe }}</script>
{% endfor %}
