<!doctype html>
<meta charset="utf-8">

<link rel="stylesheet" href="{{cdnjs}}/jasmine/2.0.0/jasmine.css">
<link rel="shortcut icon" type="image/png"
      href="{{cdnjs}}/jasmine/2.0.0/jasmine_favicon.png">

<script src="{{cdnjs}}/jasmine/2.0.0/jasmine.js"></script>
<script src="{{cdnjs}}/jasmine/2.0.0/jasmine-html.js"></script>
<script src="{{cdnjs}}/jasmine/2.0.0/boot.js"></script>

{% include '_js.html' with context %}

<body>

{% assets 'testsuite.js' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
