<!doctype html>
<meta charset="utf-8">

{%- set cdnjs = '//cdnjs.cloudflare.com/ajax/libs' %}

<link rel="stylesheet" href="
    {{-cdnjs}}/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="
    {{-cdnjs}}/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% assets 'app.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

<script src="{{cdnjs}}/jquery/2.1.1/jquery.min.js"></script>
<script src="{{cdnjs}}/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{cdnjs}}/underscore.js/1.6.0/underscore-min.js"></script>
<script src="{{cdnjs}}/backbone.js/1.1.2/backbone-min.js"></script>
<script src="
  {{-cdnjs}}/backbone.marionette/2.0.3/backbone.marionette.min.js"></script>

<title>ZeChat</title>

{% assets 'app.js' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}

<script id="app-layout-html" type="text/template">
  <div class="app-container row">
    <div class="col-xs-4 app-contacts"></div>
    <div class="col-xs-8 app-main"></div>
  </div>
</script>

<script id="conversation-layout-html" type="text/template">
  <div class="conversation-history"></div>
  <div class="conversation-compose"></div>
</script>

<script id="message-html" type="text/template">
  <%= text %>
</script>

<script id="compose-html" type="text/template">
  <div class="row">
    <div class="col-xs-10">
      <input class="form-control" name="message"
             placeholder="Write a reply…"
             autofocus autocomplete=off>
    </div>
    <div class="col-xs-2 compose-button-cell">
      <button class="btn btn-default" type="submit">send</button>
    </div>
  </div>
</script>

<script>
  $(function() {
    var options = {{ {
      'urls': {
        'transport': transport_url,
      },
    }|tojson }};

    zc.initialize(options);
  });
</script>

<body>
