<!doctype html>
<meta charset="utf-8">

{%- set cdnjs = '//cdnjs.cloudflare.com/ajax/libs' %}

<link rel="stylesheet" href="
    {{-cdnjs}}/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="
    {{-cdnjs}}/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% assets 'app.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

<script src="{{cdnjs}}/jquery/2.1.1/jquery.min.js"></script>
<script src="{{cdnjs}}/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<title>ZeChat</title>

<body>

{% assets 'app.js' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
