html, body {
    height: 100%;
    overflow: hidden;
}

.tall {
    height: 100%;
}

.app-header {
    height: 40px;
}

.app-contacts {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0; right: 0;
}

.header-container {
    padding: 10px;
}

.conversation-container {
    position: relative;
}

.conversation-history {
    position: absolute;
    left: 0; right: 0;
    top: 0;
    bottom: 40px;
    padding: 5px;
}

.conversation-compose {
    position: absolute;
    left: 0; right: 0;
    height: 40px;
    bottom: 0;
}

.compose-container {
    background: #eee;
    padding: 10px 30px;
}

.compose-button-cell {
    margin: 0 -15px 0;
}

.message-time {
    float: right;
    font-size: 85%;
    color: #aaa;
}
